.edit-profile {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .wusic-logo {
    margin-bottom: 30px;
    position: absolute;
    right: 80px;
    top: 50px; 
  }

  .left {
    width: 26vw;
    padding-top: 30vh;
    padding-left: 100px;
    border-right: white 2px solid;

    img {
      height: 10vh;
      opacity: 0.6;
    }

    .delete-profile {
      background-color: $background-color;
      padding: 10px 0;
      width: 150px;
      font-size: 1rem;
      border: 1px solid black;
      border-radius: 10px;
      margin-top: 50px;
      color: #ff0000;
      font-weight: 300;
      text-align: center;
      cursor: pointer;
    }
  }

  form {
    padding-top: 20vh;
    display: flex;
    flex-direction: row;

    .middle {
      padding-left: 50px;
      width: 37vw;
      // padding-right: 100px;

      .space {
        margin-top: 20px;
      }

      .input-text {
        input {
          border-radius: 30px;
          width: 28vw;
          padding-left: 20px;
          background-color: $background-color;
          border: gray 0.5px solid;

          &:hover {
            background-color: $secondary-color;
          }
        }
      }

      .select {
        & > p {
          padding-left: 20px;
          margin-top: 20px;
          margin-bottom: 10px;
        }

        .css-2b097c-container {
          width: 28vw;
        }

        .css-yk16xz-control {
          border-radius: 30px;
          height: 60px;
          background-color: $background-color;
          border: gray 0.5px solid;
          padding-left: 10px;

          &:hover {
            background-color: $secondary-color;
            border-radius: 30px;
          }
        }
        .css-1pahdxg-control {
          border-radius: 30px;
          height: 60px;
          background-color: $background-color;
          border: gray 0.5px solid;
          padding-left: 10px;
        }
      }
    }

    .right {
      width: 37vw;
      // padding-right: 100px;

      .input-file {
        label {
          padding-left: 20px;
          margin-top: 20px;
          margin-bottom: 10px;
        }

        input {
          border-radius: 30px;
          width: 28vw;
          padding-left: 20px;
          background-color: $background-color;
          border: gray 0.5px solid;
          margin-bottom: 10px;
        }

        img{
            margin-bottom: 10px;
        }
      }

      .input-text {
        input {
          border-radius: 30px;
          width: 28vw;
          padding-left: 20px;
          background-color: $background-color;
          border: gray 0.5px solid;

          &:hover {
            background-color: $secondary-color;
          }
        }

        label {
          padding-left: 20px;
        }
      }

      .textarea {
        textarea {
          background-color: $background-color;
          border: gray 0.5px solid;
          margin-top: 30px;
          height: 150px;
          border-radius: 0;
          width: 28vw;

          &:hover {
            background-color: $secondary-color;
          }
        }
      }

      button{
        background-color: $background-color;
        padding: 10px 20px;
        font-size: 1.2rem;
        border: 1px solid black;
        border-radius: 10px;
        position: relative;
        left: 15vw;
        margin-top: 10px;

        &:hover {
            background-color: $secondary-color;
          }

          &:active {
            background-color: $highlight-color;
            color: white;
          }
      }
    }
  }

  .delete-box-container {
    width: 100vw;
    height: 100vh;
    /* background-color: gray; */
    position: absolute;
    background-color: rgba(150, 150, 150, 0.4);

    div {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: white;
      width: 600px;
      height: 300px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 300;
      border-radius: 20px;

      p {
        font-size: 1.2rem;
      }

      button{
        background-color: white;
        width: 50px;
        margin-bottom: 10px;
        margin-top: 10px;
        border: 1px solid black; 

        &:hover{
            background-color: $secondary-color;
        }
      }
    }
  }

}

@include media-lgl{
  .edit-profile{
    .left{
      img{
        margin-bottom: 20px;
      }
      h1{
        font-size: 2rem;
      }

      .delete-profile{
        font-size: 0.8rem;
        padding: 10px 15px;
      }
    }

    form{
      .middle{
        padding-left: 25px;

        .input-text{
          input{
            height: 3rem;
          }
        }

        .select{
          .css-2b097c-container {
            height: 3rem;
          }
  
          .css-yk16xz-control {
            height: 3rem;
  
         
          }
          .css-1pahdxg-control {
            height: 3rem;
          }
        }
      }

      .right{

        .input-text{
          input{
            height: 3rem;
          }
        }

       
        button{
          font-size: 1rem;
          margin-top: 40px;
        }


      }
    }
  }
}

@include media-lgp{
  .edit-profile{
    flex-direction: row;
    // height: auto;

    .wusic-logo{

    }

    .left{
      width: 30vw;
      padding-top: 30vh;
      padding-left: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // justify-content: center;

      h1{
        // margin-left: 20px;
      }

      .delete-profile{
        margin-top: 10px;
        // margin-left: 20vw;
        font-size: 0.8rem;
      }
    }

    form{
      padding-top: 16vh;
      flex-direction: column;

      .middle{
        width: 70vw;
        padding-left: 70px;

        .input-text{
          input{
            width: 70%;
         
          }
        }

        .select{
          .css-2b097c-container {
            width: 70%;
            
          }

          .css-yk16xz-control {
            height: 55px;
          }
          .css-1pahdxg-control {
            height: 55px;
          }
        }
      }

      .right{
        width: 70vw;
        padding-left: 70px;

        .input-text{
          input{
            width: 70%;
         
          }
        }
        .input-file{
          input{
            width: 70%;
            // height: 30px;
      
          }
        }

        .textarea{
          textarea{
            width: 70%;
          }
        }

        button{
          left: 35vw;
          margin-top: 20px;
        }
      }
    }
  }
}

@include media-md{
  .edit-profile{
    height: auto;
    

    .wusic-logo{
      width: 130px;
    }

    .left{
      width: 30vw;
      padding-top: 30vh;
      padding-left: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // justify-content: center;

      img{
        width: 70px;
      }
      h1{
        font-size: 1.8rem;
      }

      .delete-profile{
        padding: 5px 10px;
        border-radius: 0;
      }
    }

    form{
    padding-top: 14vh;

      .middle{

        padding-left: 50px;

        .input-text{
          input{
            width: 80%;
            height: 50px;
         
          }
        }

        .select{
          .css-2b097c-container {
            width: 80%;
            
          }

          .css-yk16xz-control {
            height: 50px;
          }
          .css-1pahdxg-control {
            height: 50px;
          }

         
        }
      }

      .right{
        width: 70vw;
        padding-left: 50px;

        

        .input-text{
          input{
            width: 80%;
            height: 50px;
         
          }
        }
        .input-file{
          input{
            width: 80%;
            // height: 30px;
      
          }
        }

        .textarea{
          textarea{
            width: 80%;
          }
        }

      

        button{
          font-size: 0.8rem;
          left: 35vw;
          margin-bottom: 80px;
          margin-top: 40px;
        }
      }
    }
  }
}

@include media-sm{
  .edit-profile{
    flex-direction: column;
    

    .wusic-logo{
      width: 100px;
      right: 40px;
      top: 40px;
    }

    .left{
      width: 100vw;
      border: none;
      padding-top: 15vh;

      img{
        width: 60px;
        margin-bottom: 10px;
      }
    

      
    }

    form{
    padding-top: 5vh;

      .middle{

        width: 100vw;
        padding-left: 5vw;
        padding-right: 5vw;
        

        .input-text{
          input{
            width: 100%;
            height: 50px;
         
          }
        }

        .select{
          .css-2b097c-container {
            width: 100%;
            
          }

         
        }
      }

      .right{
        width: 100vw;
        padding-left: 5vw;
        padding-right: 5vw;

        .input-text{
          input{
            width: 100%;
            height: 50px;
         
          }
        }

        .input-file{
          input{
            width: 100%;
            // height: 30px;
      
          }
        }

        .textarea{
          textarea{
            width: 100%;
          }
        }

      

        button{
          font-size: 0.8rem;
          left: 60vw;
          margin-bottom: 80px;
          margin-top: 40px;
        }
      }
    }

    .delete-box-container{
      div{
        width: 80vw;
        height: 40vw;
        padding-left: 5%;
        padding-right: 5%;
        border-radius: 10px;
        

        p{
          font-size: 1rem;
        }

        button{
          margin-bottom: 0px;
        }
      }
    }
  }
}

@include media-xs{
  .edit-profile{

    

    .wusic-logo{
      width: 70px;
      right: 30px;

    }

    .left{
   

      img{
        width: 40px;
     
      }

      h1{
        font-size: 1.5rem;
      }

      .delete-profile{
        font-size: 0.5rem;
      }
    

      
    }

    form{


      .middle{

  
        padding-left: 6vw;
        padding-right: 6vw;
        
        .select{
     

          .css-yk16xz-control {
            height: 40px;
          }
          .css-1pahdxg-control {
            height: 40px;
          }

         
        }

        .input-text{
          input{
      
            height: 40px;
            font-size: 0.8rem;
         
          }

          label{
            font-size: 0.8rem;
          }
        }

      
      }

      .right{
    
        padding-left: 6vw;
        padding-right: 6vw;

        .input-text{
          input{
      
            height: 40px;
            font-size: 0.8rem;
         
          }

          label{
            font-size: 0.8rem;
          }
        }

        .input-file{
          input{
            height: 35px;
            font-size: 0.8rem;
      
          }
        }
      

        button{
          padding: 6px 15px;
          border-radius: 5px;
        }
      }
    }

    .delete-box-container{
      div{
    
        

        p{
          font-size: 0.8rem;
        }

        button{
          font-size: 0.5rem;
        }
      }
    }
  }
}
