.edit-profile {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .wusic-logo {
    margin-bottom: 30px;
    position: absolute;
    right: 80px;
    top: 50px; 
  }

  .left {
    width: 26vw;
    padding-top: 30vh;
    padding-left: 100px;
    border-right: white 2px solid;

    img {
      height: 10vh;
    }

    .delete-profile {
      background-color: $background-color;
      padding: 10px 0;
      width: 150px;
      font-size: 1rem;
      border: 1px solid black;
      border-radius: 10px;
      margin-top: 50px;
      color: #ff0000;
      font-weight: 300;
      text-align: center;
      cursor: pointer;
    }
  }

  form {
    padding-top: 20vh;
    display: flex;
    flex-direction: row;

    .middle {
      padding-left: 50px;
      width: 37vw;
      // padding-right: 100px;

      .space {
        margin-top: 20px;
      }

      .input-text {
        input {
          border-radius: 30px;
          width: 28vw;
          padding-left: 20px;
          background-color: $background-color;
          border: gray 0.5px solid;

          &:hover {
            background-color: $secondary-color;
          }
        }
      }

      .select {
        & > p {
          padding-left: 20px;
          margin-top: 20px;
          margin-bottom: 10px;
        }

        .css-2b097c-container {
          width: 28vw;
        }

        .css-yk16xz-control {
          border-radius: 30px;
          height: 60px;
          background-color: $background-color;
          border: gray 0.5px solid;
          padding-left: 10px;

          &:hover {
            background-color: $secondary-color;
            border-radius: 30px;
          }
        }
        .css-1pahdxg-control {
          border-radius: 30px;
          height: 60px;
          background-color: $background-color;
          border: gray 0.5px solid;
          padding-left: 10px;
        }
      }
    }

    .right {
      width: 37vw;
      // padding-right: 100px;

      .input-file {
        label {
          padding-left: 0px;
          margin-top: 20px;
          margin-bottom: 10px;
        }

        input {
          border-radius: 30px;
          width: 28vw;
          padding-left: 20px;
          background-color: $background-color;
          border: gray 0.5px solid;
          margin-bottom: 10px;
        }

        img{
            margin-bottom: 10px;
        }
      }

      .input-text {
        input {
          border-radius: 30px;
          width: 28vw;
          padding-left: 20px;
          background-color: $background-color;
          border: gray 0.5px solid;

          &:hover {
            background-color: $secondary-color;
          }
        }

        label {
          padding-left: 20px;
        }
      }

      .textarea {
        textarea {
          background-color: $background-color;
          border: gray 0.5px solid;
          margin-top: 30px;
          height: 150px;
          border-radius: 0;
          width: 28vw;

          &:hover {
            background-color: $secondary-color;
          }
        }
      }

      button{
        background-color: $background-color;
        padding: 10px 20px;
        font-size: 1.2rem;
        border: 1px solid black;
        border-radius: 10px;
        position: absolute;
        right: 150px;
        margin-top: 10px;

        &:hover {
            background-color: $secondary-color;
          }

          &:active {
            background-color: $highlight-color;
            color: white;
          }
      }
    }
  }

  .delete-box-container {
    width: 100vw;
    height: 100vh;
    /* background-color: gray; */
    position: absolute;
    background-color: rgba(150, 150, 150, 0.4);

    div {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: white;
      width: 600px;
      height: 300px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 300;
      border-radius: 20px;

      p {
        font-size: 1.2rem;
      }

      button{
        background-color: white;
        width: 50px;
        margin-bottom: 10px;
        margin-top: 10px;
        border: 1px solid black; 

        &:hover{
            background-color: $secondary-color;
        }
      }
    }
  }

}


