.menu {
  &-btn {
    width: 100px;
    height: 100px;
    border: black 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    margin-top: 50px;
    margin-left: 50px;
    cursor: pointer;

    p {
      font-size: 1rem;
      font-weight: 300;
    }

    img {
      width: 40px;
    }
  }

  &-wrapper {
    border-right: gray 1px solid;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    visibility: hidden;
    transform: translateX(-100vw);
    transition-duration: 500ms;
    &.open {
      visibility: visible;
      transform: translateX(0);
    }

    .links-wrapper {
      padding-left: 17.5%;

      margin-top: 15vh;
      //   background-color: rosybrown;
      width: 80%;

      a {
        text-decoration: none;
        color: $dark-text-color;
        font-size: 3.4rem;
        font-weight: 500;

        &:hover {
          color: $highlight-color;
        }

        p {
          margin-bottom: 2rem;
          transform: translateX(-100vw);
          transition-duration: 500ms;

          &.open {
            transform: translateX(0);
          }
        }
      }

      @for $i from 1 through 5 {
        a:nth-child(#{$i}) > p {
          transition-property: transform;
          transition-delay: ($i * 120ms);
        }
      }
    }

    .logout-wrapper {
      margin-left: 10rem;

      p {
        font-size: 1.5rem;
        margin-top: 2rem;
        font-weight: 300;
        margin-bottom: 1rem;
      }

      button {
        background-color: white;
        padding: 10px 20px;
        border-radius: 10px;
        border: 1px solid $dark-text-color;

        &:hover {
          background-color: $highlight-color;
          color: white;
          border: $highlight-color;
        }
      }
    }

    .contacts-wrapper {
      position: absolute;
      right: 20rem;
      bottom: 20vh;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      & > img {
        margin-bottom: 40px;
      }
      & > p {
        margin-bottom: 1rem;
      }
      .icons {
        img {
          width: 30px;
          margin-left: 30px;
        }
      }
    }
  }
}

@include media-lgl {
  .menu {
    &-btn {
      width: 70px;
      height: 70px;
      margin-top: 40px;
      margin-left: 40px;

      p {
        font-size: 0.9rem;
      }
      img {
        width: 30px;
      }
    }

    &-wrapper {
      .links-wrapper {
        padding-left: 12vw;
        margin-top: 20vh;
        width: 100vw;
        // background-color: rosybrown;

        a {
          font-size: 3rem;

          p {
            margin-bottom: 1rem;
          }
        }
      }

      .logout-wrapper {
        margin-left: 12vw;

        p {
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
        }

        button {
          padding: 8px 12px;
          font-size: 0.8rem;
        }
      }

      .contacts-wrapper {
        right: 12vw;
        bottom: 10rem;
      }
    }
  }
}
@include media-lgp {
  .menu {
    &-wrapper {
      .links-wrapper {
        margin-top: 20vh;
        width: 90%;
      }

      .logout-wrapper {
        margin-left: 17.5%;
        p {
            font-size: 1.5rem;
           
          }
    
          button {
   
            font-size: 1.5rem;
       
          }
      }

      .contacts-wrapper {
        right: 15vw;
        bottom: 18vh;
      }
    }
  }
}
@include media-md {
  .menu {
    &-wrapper {
      .links-wrapper {
        a {
          font-size: 3rem;
        }
      }
    }
  }
}
@include media-sm {
    .menu {
        &-btn {
          width: 50px;
          height: 50px;
          margin-top: 30px;
          margin-left: 30px;
    
          p {
            font-size: 0.5rem;
          }
          img {
            width: 20px;
          }
        }
    
        &-wrapper {
          .links-wrapper {
            padding-left: 12vw;
            margin-top: 20vh;
            width: 100vw;
            // background-color: rosybrown;
    
            a {
              font-size: 2rem;
    
              p {
                margin-bottom: 1rem;
              }
            }
          }
    
          .logout-wrapper {
            margin-left: 12vw;
    
            p {
              font-size: 1.2rem;
              margin-bottom: 0.5rem;
            }
    
            button {
              padding: 8px 12px;
              font-size: 0.8rem;
            }
          }
    
          .contacts-wrapper {
      
            right: 5vw;
            bottom: 10vh;
            & > img {
              margin-bottom: 20px;
              width: 80px;
            }
            & > p {
              margin-bottom: 1rem;
            }
            .icons {
              img {
                width: 25px;
                margin-left: 30px;
              }
            }
          }
        }
      }
}
@include media-xs {
    .menu {
        &-btn {
          width: 40px;
          height: 40px;
          margin-top: 30px;
          margin-left: 30px;
    
          
          img {
            width: 20px;
          }
        }
    
        &-wrapper {
          .links-wrapper {
            padding-left: 14vw;
            margin-top: 15vh;

            width: 100vw;
            // background-color: rosybrown;
    
            a {
              font-size: 1.6rem;
    
             
            }
          }
    
          .logout-wrapper {
            margin-left: 14vw;
    
            p {
              font-size: 1.2rem;
              margin-bottom: 0.5rem;
            }
    
            button {
              padding: 8px 12px;
              font-size: 0.8rem;
            }
          }
    
          .contacts-wrapper {
      
            right: 5vw;
            bottom: 8vh;
            & > img {
              margin-bottom: 20px;
              width: 60px;
              
            }
            & > p {
              margin-bottom: 1rem;
            }
            .icons {
              img {
                width: 25px;
                margin-left: 30px;
              }
            }
          }
        }
      }
}
