@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Hammersmith+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 600ms linear;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 0ms linear;
}

.fade-exit-done {
  opacity: 0;
}

.landing {
  height: 100vh;
  padding: 10vh 15vw;
  position: relative;
}
.landing h2 {
  font-size: 6rem;
  font-weight: 400;
  margin: 20vh auto;
  padding-left: 5rem;
  font-family: "Hammersmith One";
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.landing__logos {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10vw;
  bottom: 10rem;
  transition: 0.8s;
}
.landing__logos--btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-left: 50px;
  transition: 0.3s;
  border: black 1px solid;
  cursor: pointer;
}
.landing__logos--btn:hover {
  background-color: #e91c2f;
  border: red 1px solid;
}
.landing__logos--btn img {
  width: 60px;
}
.landing__logos--btn.selected {
  border: #e91c2f 1px solid;
  background-color: #e91c2f;
}
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .landing h2 {
    font-size: 4.5rem;
  }
  .landing__logos {
    right: 8rem;
    bottom: 5rem;
  }
  .landing__logos--btn {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .landing h2 {
    font-size: 4.5rem;
  }
  .landing__logos {
    right: 10rem;
  }
}
@media screen and (max-width: 768px) {
  .landing h2 {
    font-size: 3.5rem;
    padding-left: 3rem;
  }
  .landing__logos {
    right: 5rem;
    bottom: 7rem;
  }
  .landing__logos--btn {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 480px) {
  .landing h2 {
    font-size: 2.1rem;
    padding-left: 0px;
  }
  .landing__logos {
    right: 2rem;
    bottom: 4rem;
  }
  .landing__logos--btn {
    width: 70px;
    height: 70px;
    margin-left: 20px;
  }
  .landing__logos--btn img {
    width: 40px;
  }
}
@media screen and (max-width: 320px) {
  .landing > img {
    width: 80px;
  }
  .landing h2 {
    font-size: 1.8rem;
    padding-left: 0;
  }
  .landing__logos {
    right: 2rem;
    bottom: 3rem;
  }
  .landing__logos--btn {
    width: 50px;
    height: 50px;
  }
  .landing__logos--btn img {
    width: 30px;
  }
}
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.dashboard h3 {
  font-size: 4rem;
  text-align: right;
  border-bottom: 1px solid black;
  margin-bottom: 50px;
}
.dashboard .ongoing-projects {
  padding-top: 130px;
  width: 80vw;
}
.dashboard .ongoing-projects .project-cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.dashboard .ongoing-projects .project-cards__item {
  border: 1px solid black;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  padding: 10px 0;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-bottom: 4rem;
}
.dashboard .ongoing-projects .project-cards__item:hover {
  background-color: #d7dadc;
}
.dashboard .ongoing-projects .project-cards__item .title {
  width: 13rem;
  margin-top: 10px;
  height: 3rem;
  margin-bottom: 10px;
}
.dashboard .ongoing-projects .project-cards__item .title p {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
}
.dashboard .ongoing-projects .project-cards__item .black-border {
  border: 0.5px solid gray;
  position: relative;
}
.dashboard .ongoing-projects .project-cards__item .black-border .img-container {
  width: 14rem;
  height: 15rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.dashboard .ongoing-projects .project-cards__item .black-border .img-container img {
  width: 14rem;
  height: 15rem;
}
.dashboard .ongoing-projects .project-cards__item .black-border .edit-btn {
  position: absolute;
  right: 12px;
  top: 10px;
}
.dashboard .ongoing-projects .project-cards__item .black-border .edit-btn a {
  text-decoration: none;
}
.dashboard .ongoing-projects .project-cards__item .black-border .edit-btn a p {
  color: white;
  margin-bottom: 5px;
  font-weight: 500;
  text-align: right;
  cursor: pointer;
}
.dashboard .ongoing-projects .project-cards__item .black-border .participants-container {
  width: 14rem;
  background-color: white;
  height: 70px;
  padding-top: 10px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
}
.dashboard .ongoing-projects .project-cards__item .black-border .participants-container .round-img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.dashboard .ongoing-projects .project-cards__item .black-border .participants-container .round-img img {
  height: 50px;
  width: 50px;
}
.dashboard .ongoing-projects .project-cards__item .requests-container {
  width: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.dashboard .ongoing-projects .project-cards__item .requests-container .request-shown,
.dashboard .ongoing-projects .project-cards__item .requests-container .request-hidden {
  width: 14rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.dashboard .ongoing-projects .project-cards__item .requests-container .request-shown .round-img,
.dashboard .ongoing-projects .project-cards__item .requests-container .request-hidden .round-img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.dashboard .ongoing-projects .project-cards__item .requests-container .request-shown .round-img img,
.dashboard .ongoing-projects .project-cards__item .requests-container .request-hidden .round-img img {
  height: 50px;
  width: 50px;
}
.dashboard .ongoing-projects .project-cards__item .requests-container .request-shown .info .name,
.dashboard .ongoing-projects .project-cards__item .requests-container .request-hidden .info .name {
  font-size: 12px;
  margin-bottom: 5px;
}
.dashboard .ongoing-projects .project-cards__item .requests-container .request-shown .info .type,
.dashboard .ongoing-projects .project-cards__item .requests-container .request-hidden .info .type {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 0;
}
.dashboard .ongoing-projects .project-cards__item .requests-container .request-shown .confirm,
.dashboard .ongoing-projects .project-cards__item .requests-container .request-hidden .confirm {
  width: 20px;
  cursor: pointer;
  margin-left: 5px;
}
.dashboard .ongoing-projects .project-cards__item .requests-container .expand-logo {
  border: 1px black solid;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.dashboard .ongoing-projects .project-cards__item .requests-container .expand-logo img {
  width: 30px;
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .dashboard .ongoing-projects {
    padding-top: 80px;
    width: 100vw;
  }
  .dashboard .ongoing-projects h3 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .dashboard .ongoing-projects .project-cards {
    padding-left: 20px;
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .dashboard .ongoing-projects {
    width: 100vw;
  }
  .dashboard .ongoing-projects h3 {
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .dashboard .ongoing-projects .project-cards {
    margin-left: 50px;
  }
}
@media screen and (max-width: 480px) {
  .dashboard .ongoing-projects {
    padding-top: 60px;
  }
  .dashboard .ongoing-projects h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 20px;
  }
  .dashboard .ongoing-projects .project-cards {
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: auto;
  }
  .dashboard .ongoing-projects .project-cards__for-scroll {
    display: inline-block;
  }
  .dashboard .ongoing-projects .project-cards__for-scroll .project-cards__item {
    padding-bottom: 10px;
  }
  .dashboard .ongoing-projects .project-cards__for-scroll .project-cards__item .title {
    margin-top: 5px;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 320px) {
  .dashboard .ongoing-projects h3 {
    font-size: 1.8rem;
    padding-right: 20px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .dashboard .ongoing-projects .project-cards__for-scroll .project-cards__item {
    width: 14rem;
    padding-bottom: 0;
    margin-bottom: 2rem;
  }
  .dashboard .ongoing-projects .project-cards__for-scroll .project-cards__item .title {
    height: 2.5rem;
  }
  .dashboard .ongoing-projects .project-cards__for-scroll .project-cards__item .title p {
    font-size: 0.9rem;
  }
  .dashboard .ongoing-projects .project-cards__for-scroll .project-cards__item .black-border .img-container {
    width: 11rem;
    height: 12rem;
  }
  .dashboard .ongoing-projects .project-cards__for-scroll .project-cards__item .black-border .img-container img {
    width: 11rem;
    height: 12rem;
  }
  .dashboard .ongoing-projects .project-cards__for-scroll .project-cards__item .participants-container {
    width: 11rem;
    height: 55px;
  }
  .dashboard .ongoing-projects .project-cards__for-scroll .project-cards__item .participants-container .round-img {
    width: 40px;
    height: 40px;
  }
  .dashboard .ongoing-projects .project-cards__for-scroll .project-cards__item .participants-container .round-img img {
    width: 40px;
    height: 40px;
  }
  .dashboard .ongoing-projects .project-cards__for-scroll .project-cards__item .requests-container {
    width: 11rem;
  }
  .dashboard .ongoing-projects .project-cards__for-scroll .project-cards__item .requests-container .request-shown,
.dashboard .ongoing-projects .project-cards__for-scroll .project-cards__item .requests-container .request-hidden {
    width: 11rem;
  }
  .dashboard .ongoing-projects .project-cards__for-scroll .project-cards__item .requests-container .request-shown .round-img,
.dashboard .ongoing-projects .project-cards__for-scroll .project-cards__item .requests-container .request-hidden .round-img {
    width: 40px;
    height: 40px;
  }
  .dashboard .ongoing-projects .project-cards__for-scroll .project-cards__item .requests-container .request-shown .round-img img,
.dashboard .ongoing-projects .project-cards__for-scroll .project-cards__item .requests-container .request-hidden .round-img img {
    width: 40px;
    height: 40px;
  }
  .dashboard .ongoing-projects .project-cards__for-scroll .project-cards__item .requests-container .info {
    display: none;
  }
  .dashboard .ongoing-projects .project-cards__for-scroll .project-cards__item .requests-container .confirm {
    margin-left: 10px;
  }
}
.dashboard .joined-projects {
  margin-top: 150px;
  width: 80vw;
}
.dashboard .joined-projects .project-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.dashboard .joined-projects .project-cards .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.dashboard .joined-projects .project-cards .item img {
  height: 20rem;
  margin: 10px;
}
.dashboard .joined-projects .project-cards .item p {
  font-size: 1rem;
  font-weight: 300;
}
.dashboard .liked-artists {
  margin-top: 150px;
  width: 80vw;
  margin-bottom: 100px;
}
.dashboard .liked-artists .artist-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.dashboard .liked-artists .artist-cards .artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.dashboard .liked-artists .artist-cards .artist img {
  height: 20rem;
  margin: 10px;
}
.dashboard .liked-artists .artist-cards .artist p {
  font-size: 1rem;
  font-weight: 300;
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .dashboard .joined-projects {
    width: 100vw;
    margin-top: 50px;
  }
  .dashboard .joined-projects h3 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .dashboard .liked-artists {
    width: 100vw;
    margin-top: 50px;
  }
  .dashboard .liked-artists h3 {
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .dashboard .joined-projects {
    width: 100vw;
    margin-top: 50px;
  }
  .dashboard .joined-projects h3 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .dashboard .liked-artists {
    width: 100vw;
    margin-top: 50px;
  }
  .dashboard .liked-artists h3 {
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 480px) {
  .dashboard {
    padding-top: 30px;
  }
  .dashboard .wusic-logo {
    width: 100px;
  }
  .dashboard .joined-projects {
    margin-top: 0px;
  }
  .dashboard .joined-projects h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 20px;
  }
  .dashboard .joined-projects .project-cards {
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: auto;
  }
  .dashboard .joined-projects .project-cards .for-scroll {
    display: inline-block;
  }
  .dashboard .joined-projects .project-cards .for-scroll img {
    height: 15rem;
  }
  .dashboard .liked-artists {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .dashboard .liked-artists h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 20px;
  }
  .dashboard .liked-artists .artist-cards {
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: auto;
  }
  .dashboard .liked-artists .artist-cards .for-scroll {
    display: inline-block;
  }
  .dashboard .liked-artists .artist-cards .for-scroll img {
    height: 15rem;
  }
}
@media screen and (max-width: 320px) {
  .dashboard {
    padding-top: 20px;
  }
  .dashboard .wusic-logo {
    width: 80px;
  }
}
.login {
  position: absolute;
}
.login form {
  padding-top: 20vh;
  padding-left: 8vw;
}
.login form input {
  width: 40vw;
  height: 3rem;
  border-radius: 0;
  background-color: #f4eadd;
  border: gray 0.5px solid;
}
.login form input:hover {
  background-color: #e2cdba;
}
.login form input:focus {
  background-color: #e2cdba;
}
.login form .errorMessage {
  height: 2rem;
  color: #e91c2f;
  margin-top: 10px;
}
.login form button {
  margin-top: 20px;
  background-color: #f4eadd;
  border: gray 0.5px solid;
  padding: 20px 40px;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 20px;
}
.login form button:hover {
  background-color: #e2cdba;
}
.login form button:active {
  background-color: #e91c2f;
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .login form {
    padding-left: 5vw;
  }
  .login form .form-floating > .form-control {
    height: 2.8rem;
  }
  .login form button {
    padding: 15px 30px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .login form {
    padding: 20vh 8vw 0 8vw;
    width: 70vw;
  }
  .login form input {
    width: 54vw;
  }
  .login form .form-floating > .form-control {
    height: 4rem;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .login form {
    padding-top: 20vh;
  }
  .login form input {
    height: 2.5rem;
  }
  .login form .form-floating > .form-control {
    height: 3.5rem;
    margin-bottom: 30px;
  }
  .login form button {
    margin-top: 10px;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .login form {
    padding: 20vh 0 0 0;
    width: 70vw;
  }
  .login form input {
    width: 70vw;
    height: 1.5rem;
  }
  .login form .form-floating > .form-control {
    height: 2.5rem;
    margin-bottom: 10px;
  }
  .login form .form-floating > label {
    padding-top: 0.7rem;
    font-weight: 300;
  }
  .login form .errorMessage {
    margin-top: 5px;
    height: 1rem;
  }
  .login form button {
    padding: 8px 15px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 320px) {
  .login form input {
    width: 70vw;
    height: 0.8rem;
  }
  .login form .form-floating > .form-control {
    height: 1.5rem;
    margin-bottom: 10px;
  }
  .login form .form-floating > label {
    padding-top: 0.5rem;
  }
  .login form .errorMessage {
    margin-top: 5px;
    height: 1rem;
    font-size: 0.6rem;
  }
  .login form button {
    padding: 8px 15px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 0.8rem;
  }
}
.menu-btn {
  width: 100px;
  height: 100px;
  border: black 1px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
  cursor: pointer;
}
.menu-btn.open {
  position: fixed;
}
.menu-btn p {
  font-size: 1rem;
  font-weight: 300;
}
.menu-btn img {
  width: 40px;
}
.menu-wrapper {
  border-right: gray 1px solid;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 999;
  visibility: hidden;
  transform: translateX(-100vw);
  transition-duration: 500ms;
}
.menu-wrapper.open {
  visibility: visible;
  transform: translateX(0);
}
.menu-wrapper .links-wrapper {
  padding-left: 17.5%;
  margin-top: 15vh;
  width: 80%;
}
.menu-wrapper .links-wrapper a {
  text-decoration: none;
  color: black;
  font-size: 3.4rem;
  font-weight: 500;
}
.menu-wrapper .links-wrapper a:hover {
  color: #e91c2f;
}
.menu-wrapper .links-wrapper a p {
  margin-bottom: 2rem;
  transform: translateX(-100vw);
  transition-duration: 500ms;
}
.menu-wrapper .links-wrapper a p.open {
  transform: translateX(0);
}
.menu-wrapper .links-wrapper a:nth-child(1) > p {
  transition-property: transform;
  transition-delay: 120ms;
}
.menu-wrapper .links-wrapper a:nth-child(2) > p {
  transition-property: transform;
  transition-delay: 240ms;
}
.menu-wrapper .links-wrapper a:nth-child(3) > p {
  transition-property: transform;
  transition-delay: 360ms;
}
.menu-wrapper .links-wrapper a:nth-child(4) > p {
  transition-property: transform;
  transition-delay: 480ms;
}
.menu-wrapper .links-wrapper a:nth-child(5) > p {
  transition-property: transform;
  transition-delay: 600ms;
}
.menu-wrapper .logout-wrapper {
  margin-left: 10rem;
}
.menu-wrapper .logout-wrapper p {
  font-size: 1.5rem;
  margin-top: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.menu-wrapper .logout-wrapper button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid black;
}
.menu-wrapper .logout-wrapper button:hover {
  background-color: #e91c2f;
  color: white;
  border: #e91c2f;
}
.menu-wrapper .contacts-wrapper {
  position: absolute;
  right: 20rem;
  bottom: 20vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.menu-wrapper .contacts-wrapper > img {
  margin-bottom: 40px;
}
.menu-wrapper .contacts-wrapper > p {
  margin-bottom: 1rem;
}
.menu-wrapper .contacts-wrapper .icons img {
  width: 30px;
  margin-left: 30px;
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .menu-btn {
    width: 70px;
    height: 70px;
    margin-top: 40px;
    margin-left: 40px;
  }
  .menu-btn p {
    font-size: 0.9rem;
  }
  .menu-btn img {
    width: 30px;
  }
  .menu-wrapper .links-wrapper {
    padding-left: 12vw;
    margin-top: 20vh;
    width: 100vw;
  }
  .menu-wrapper .links-wrapper a {
    font-size: 3rem;
  }
  .menu-wrapper .links-wrapper a p {
    margin-bottom: 1rem;
  }
  .menu-wrapper .logout-wrapper {
    margin-left: 12vw;
  }
  .menu-wrapper .logout-wrapper p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .menu-wrapper .logout-wrapper button {
    padding: 8px 12px;
    font-size: 0.8rem;
  }
  .menu-wrapper .contacts-wrapper {
    right: 12vw;
    bottom: 10rem;
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .menu-wrapper .links-wrapper {
    margin-top: 20vh;
    width: 90%;
  }
  .menu-wrapper .logout-wrapper {
    margin-left: 17.5%;
  }
  .menu-wrapper .logout-wrapper p {
    font-size: 1.5rem;
  }
  .menu-wrapper .logout-wrapper button {
    font-size: 1.5rem;
  }
  .menu-wrapper .contacts-wrapper {
    right: 15vw;
    bottom: 18vh;
  }
}
@media screen and (max-width: 768px) {
  .menu-wrapper .links-wrapper a {
    font-size: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .menu-btn {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .menu-btn p {
    font-size: 0.5rem;
  }
  .menu-btn img {
    width: 20px;
  }
  .menu-wrapper .links-wrapper {
    padding-left: 12vw;
    margin-top: 20vh;
    width: 100vw;
  }
  .menu-wrapper .links-wrapper a {
    font-size: 2rem;
  }
  .menu-wrapper .links-wrapper a p {
    margin-bottom: 1rem;
  }
  .menu-wrapper .logout-wrapper {
    margin-left: 12vw;
  }
  .menu-wrapper .logout-wrapper p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .menu-wrapper .logout-wrapper button {
    padding: 8px 12px;
    font-size: 0.8rem;
  }
  .menu-wrapper .contacts-wrapper {
    right: 5vw;
    bottom: 10vh;
  }
  .menu-wrapper .contacts-wrapper > img {
    margin-bottom: 20px;
    width: 80px;
  }
  .menu-wrapper .contacts-wrapper > p {
    margin-bottom: 1rem;
  }
  .menu-wrapper .contacts-wrapper .icons img {
    width: 25px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 320px) {
  .menu-btn {
    width: 45px;
    height: 45px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .menu-btn img {
    width: 20px;
  }
  .menu-wrapper .links-wrapper {
    padding-left: 14vw;
    margin-top: 15vh;
    width: 100vw;
  }
  .menu-wrapper .links-wrapper a {
    font-size: 1.6rem;
  }
  .menu-wrapper .logout-wrapper {
    margin-left: 14vw;
  }
  .menu-wrapper .logout-wrapper p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .menu-wrapper .logout-wrapper button {
    padding: 8px 12px;
    font-size: 0.8rem;
  }
  .menu-wrapper .contacts-wrapper {
    right: 5vw;
    bottom: 8vh;
  }
  .menu-wrapper .contacts-wrapper > img {
    margin-bottom: 20px;
    width: 60px;
  }
  .menu-wrapper .contacts-wrapper > p {
    margin-bottom: 1rem;
  }
  .menu-wrapper .contacts-wrapper .icons img {
    width: 25px;
    margin-left: 30px;
  }
}
.signup {
  position: absolute;
}
.signup form {
  padding-top: 5vh;
  padding-left: 8vw;
}
.signup form input {
  width: 40vw;
  height: 3rem;
  border-radius: 0;
  background-color: #f4eadd;
  border: gray 0.5px solid;
}
.signup form input:hover {
  background-color: #e2cdba;
}
.signup form input:focus {
  background-color: #e2cdba;
}
.signup form .select .css-yk16xz-control {
  border-radius: 0;
  background-color: #f4eadd;
  border: gray 0.5px solid;
}
.signup form .select .css-yk16xz-control:hover {
  background-color: #e2cdba;
}
.signup form .select .css-1pahdxg-control {
  border-radius: 0;
  background-color: #f4eadd;
  border: gray 0.5px solid;
}
.signup form .select p {
  margin-bottom: 10px;
}
.signup form .errorMessage {
  height: 2rem;
  color: #e91c2f;
  margin-top: 10px;
}
.signup form button {
  margin-top: 20px;
  background-color: #f4eadd;
  border: gray 0.5px solid;
  padding: 20px 40px;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 20px;
}
.signup form button:hover {
  background-color: #e2cdba;
}
.signup form button:active {
  background-color: #e91c2f;
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .signup form {
    padding-left: 5vw;
  }
  .signup form .select input {
    height: 2rem;
  }
  .signup form .select p {
    margin-bottom: 5px;
  }
  .signup form .form-floating > .form-control {
    height: 2.8rem;
  }
  .signup form button {
    padding: 15px 30px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .signup form {
    padding: 10vh 8vw 0 8vw;
    width: 70vw;
  }
  .signup form input {
    width: 54vw;
  }
  .signup form .form-floating > .form-control {
    height: 4rem;
    margin-bottom: 30px;
  }
  .signup form .select {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .signup form {
    padding-top: 7vh;
  }
  .signup form input {
    height: 2.5rem;
  }
  .signup form .form-floating > .form-control {
    height: 3.5rem;
    margin-bottom: 30px;
  }
  .signup form .select {
    margin-bottom: 10px;
  }
  .signup form button {
    margin-top: 10px;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .signup form {
    padding: 5vh 0 0 0;
    width: 70vw;
  }
  .signup form input {
    width: 70vw;
    height: 1.5rem;
  }
  .signup form .form-floating > .form-control {
    height: 2.5rem;
    margin-bottom: 10px;
  }
  .signup form .form-floating > label {
    padding-top: 0.7rem;
    font-weight: 300;
  }
  .signup form .select {
    margin-bottom: 0px;
  }
  .signup form .select p {
    font-weight: 300;
  }
  .signup form .errorMessage {
    margin-top: 5px;
    height: 1rem;
  }
  .signup form button {
    padding: 8px 15px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 320px) {
  .signup form input {
    width: 70vw;
    height: 0.8rem;
  }
  .signup form .form-floating > .form-control {
    height: 1.5rem;
    margin-bottom: 10px;
  }
  .signup form .form-floating > label {
    padding-top: 0.5rem;
  }
  .signup form .select {
    margin-bottom: 0px;
  }
  .signup form .select p {
    font-size: 0.8rem;
    margin-bottom: 2px;
  }
  .signup form .errorMessage {
    margin-top: 5px;
    height: 1rem;
    font-size: 0.6rem;
  }
  .signup form button {
    padding: 8px 15px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 0.8rem;
  }
}
#root {
  background-color: #f4eadd;
  font: 14px "Ubuntu";
}

p {
  margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 0px;
}

/*# sourceMappingURL=main.css.map */
